<!--<?xml version="1.0"?>-->
<configuration>
  <connectionStrings>
    <!--<add name="cnveduConnectionString" connectionString="Data Source=.;User ID=weps;Password=123;Initial Catalog=cnvedu_v1;" providerName="System.Data.SqlClient"/>-->
    <add name="cnveduConnectionString" connectionString="data source=.;database=xxhb;User Id=yangxinxinxin;password=A123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" />
    <authorization>
      <allow users="*" />
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <customErrors mode="Off" defaultRedirect="~/error.htm">
      <error statusCode="404" redirect="~/error.htm" />
    </customErrors>
    <pages validateRequest="false" enableEventValidation="true" enableViewStateMac="false" viewStateEncryptionMode="Never">
      <controls>
 
      </controls>
    </pages>
    <xhtmlConformance mode="Legacy" />
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <remove value="default.aspx" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
